/*Colors*/

$body-color: #584e4a;
$bg-color: #1d1c24;
$icons-color: #f0f0f0;
$main-green: #40916a;
$text-main-color: #d6d6d6;
$contacts-link-bg: rgba(0, 0, 0, 0.36);
$contacts-link-bg-hover: rgba(0, 0, 0, 0.45);
$contacts-section-bg: linear-gradient(95deg, #ffac27, #ffc77a, #ffe374);

/*Fonts*/

$home-page-font: "Righteous", cursive;
